*.class

# Package Files #
*.jar
*.war
*.ear
/.project
/.settings
/reports
/target
/test-output
/.classpath
/sql.log
/application.log
.classpath
.project
*.log
*.apk
!src/main/resources/carinademoexample.apk
*.zip
!src/main/resources/carinademoexample.zip
.settings/*
target/*
test-output/*
reports/*
/reports
/.metadata/
/.classpath
/.project
.idea
*.iml
/target/
*new_custom_messages_*.properties
/bin/