<?xml version="1.0" encoding="UTF-8"?>
<configuration packages="com.zebrunner.agent.core.logging.log4j2">
   <properties>
      <property name="pattern">[%d{HH:mm:ss}] %-5p (%F:%L) - %m%n</property>
   </properties>
   <appenders>
      <ReportingAppender name="ReportingAppender">
         <PatternLayout pattern="${pattern}" />
      </ReportingAppender>
      <Console name="LogToConsole" target="SYSTEM_OUT">
       <!-- <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
        <PatternLayout pattern="[%d{HH:mm:ss}] %-5p (%F:%L) - %m%n"/>
      </Console>
   </appenders>
   <loggers>
      <root level="info">
         <appender-ref ref="ReportingAppender"/>
         <AppenderRef ref="LogToConsole"/>
      </root>
   </loggers>
</configuration>
