<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Carina Demo Tests - Gsm Arena Test" verbose="1" parallel="methods">

    <test name="Gsm arena test">
        <classes>
            <class name="com.qaprosoft.carina.demo.GsmArenaTest" />
        </classes>
    </test>
</suite>
